# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/vendor/*
web/css/*
web/js/*

# Configuration files
app/config/parameters.yml

#composer
composer.phar
composer.lock

*.swp
*~
*DS_Store
