# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/vendor/*
web/built/*
web/assets/*
node_modules/*
backups/*

#symlink or compiled files
app/Resources/public/js/built.js
app/Resources/public/images/glyphicons*
app/Resources/public/css/wozbe.css
app/Resources/public/fonts/awesome

# Configuration files
app/config/parameters.yml

#composer
composer.phar
composer.lock

*.swp
*~
*DS_Store
