{% extends 'WozbeAdminBundle::layout.html.twig' %}

{% form_theme form '::form_theme.html.twig' %}

{% block title %}{{ 'Post edition'|trans }}{% endblock %}

{% block content %}
  <div class="">
    <h1>
      {{ 'Post edition'|trans }}
    </h1>
  </div>
  {{ include('WozbeAdminBundle:Post:form.html.twig', {'form': form}) }}
{% endblock %}
