@import "web/bundles/app/less/functions.less";
@import "web/bundles/app/less/variables.less";

.blog-post {
  .zone-post {
    margin: 0 @zoneMarginSides;

    h1 {
      background: none;
      color: @orange;
    }

    h2, 
    h3 {
      font-family: @baseFontFamily;
      font-weight: normal;
    }

    h2 { font-size: @baseFontSize * 1.8; }
    h3 { font-size: @baseFontSize * 1.50; }

    h2 {
      text-align: left;
    }

    blockquote {
      margin: @zoneMarginSides;
    }
  }
}