@import "web/bundles/app/less/functions.less";
@import "web/bundles/app/less/variables.less";

.blog-post {
  .zone-post {
    h1 {
      background: none;
      color: @orange;
    }

    margin: 0 @zoneMarginSides;
  }
}