.page-skills .zone-skills {
  text-align: justify;
}
.page-skills .zone-skills .skill {
  padding: 30px 5%;
  position: relative;
}
.page-skills .zone-skills .skill .logos {
  text-align: center;
  margin: 30px 0;
}
.page-skills .zone-skills .skill .logos img {
  margin-right: 30px;
}
.page-skills .zone-skills .skill .logos img:last-child {
  margin-right: 0;
}
.page-skills .zone-skills .container-skills {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.page-skills .zone-skills .container-skills .skill {
  width: 49.9%;
  float: left;
}
.page-skills .zone-skills .container-skills .skill:first-child {
  border-right: 1px solid #dddddd;
}
@media (max-width: 767px) {
  .page-skills .zone-skills .container-skills .skill {
    width: 100%;
    border-right: none;
  }
}
